html,
body {
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  overflow: hidden;
}

:root {
  /* 内容区宽度 */
  --content-width: 1136px;
  --header-height: 64px;
}

@ant-prefix: ant;

[class*="authing-"] {

  .@{ant-prefix}-btn-primary {
    color: #fff;
  }

  .@{ant-prefix}-btn-link {
    color: #1677ff;
  }

  .@{ant-prefix}-btn-primary,
  .@{ant-prefix}-btn-link {
    border: none;
    outline: none;
  }
}

.@{ant-prefix}-btn,
.@{ant-prefix}-switch {

  &:focus,
  &:hover,
  &:active {
    outline: none;
    border: none;
  }

}